:root[data-theme="Modern"] {
    --accent1: #04dfd9;
    --accent2: #40ffdd;
    --bg: #181b1e;
    --main-color: #1f2328;
    --second-color: #252a30;

    --gradient: linear-gradient(45deg, #04dfd9, #40ffdd);
}

:root[data-theme="Sunset"] {
    --accent1: #ff6f4b;
    --accent2: #e13661;
    --bg: #0f1118;
    --main-color: #161a24;
    --second-color: #202636;

    --gradient: linear-gradient(45deg, #ff6f4b, #e13661);
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color: var(--bg);
    font-family:Segoe UI, sans-serif;
    color:white;
    padding:40px;
}

.gradient_title {
    background: var(--gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; 

    font-size: 5vh;
}

#header {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 10vh;
    width: 100%;
    background-color: var(--main-color);
    border-bottom: 1.5px solid var(--accent1);
}

#content {
    margin-top: 11vh;
}